@page
@using HilleroedSejlKlubLibrary.Data
@using HilleroedSejlKlubLibrary.Models

@using HillerødSejlKlub.Data

@model HillerødSejlKlubWeb.Pages.BoatsModel
@{
}


<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0" role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">Alle både</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab" aria-controls="simple-tabpanel-1" aria-selected="false">Tilføj en båd</a>
  </li>

    <li class="nav-item" role="presentation">
    <a class="nav-link" id="simple-tab-2" data-bs-toggle="tab" href="#simple-tabpanel-2" role="tab" aria-controls="simple-tabpanel-2" aria-selected="false">Fjern en båd</a>
  </li>
  
</ul>
<div class="tab-content pt-5" id="tab-content">
  <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel" aria-labelledby="simple-tab-0">


      
<div class="container boat-container">
   <div class="row boat-row-wrapper">

      @{
       int boatCount = 0;
       }

        @foreach (var boat in Model.Boats)
        {


           if (boatCount > 0 && boatCount % 1 == 0)
           {
               @:</div><div class="row boat-row-wrapper">

                
           }
           <div class=" col-lg card mb-5 boat-card">
                <div class="row boat-row-body">
                   <div class="col-lg boat-background">
                     <div class="boat-image" style="background-image: url(@boat.Value.ImagePath);"></div>


                </div>
                <div class="col-lg p-5">
                <div class="card-body px-6 overflow-custom">

                <div class="card-body">
                <h3 class="card-title card-header-custom text-uppercase">@boat.Value.Name</h3>
                <p class="card-text border-header fw-normal fs-6 pb-3">@boat.Value.Model</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque eleifend dolor ut laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus pretium risus vel aliquam pharetra. Sed non imperdiet turpis, id pharetra orci. </p>
                </div>
                  <p class="card-title">
                     <strong>Detaljer:</strong>
                    <br /> 
                    </p>

                    <div class="table-wrapper">
                <table class="table">

                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Længde</th>
                            <th scope="col">Årstal</th>
                            <th scope="col">Sejlnummer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>@boat.Value.BoatType</td>
                            <td>@boat.Value.Size</td>
                            <td>@boat.Value.Year</td>
                            <td>@boat.Value.SailNumber</td>
                        </tr>

                    </tbody>
                </table>
                </div>
                <p class="card-title">
                     <strong>Eventuel motor:</strong>
                    <br /> 
                    </p>

               
                    
                   
                                       @if (boat.Value.Engine != null)
                                            {
                                         @switch (boat.Value.Engine)
                                              {
                                            case GasEngine gasEngine:
                                            <div class="table-wrapper">
                                             <table class="table">
                                             <tbody>
                                            <thead>
                                                <tr>
                                                   <th scope="col">Model</th>
                                                   <th scope="col">Brændstof</th>
                                                   <th scope="col">Kapacitet(L)</th>
                                                   <th scope="col">Cylindere</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                              <td>@boat.Value.Engine.Name</td>
                                              <td>@boat.Value.Engine.FormattedFuelType</td>
                                              <td>@gasEngine.TankCapacity</td>
                                              <td>@gasEngine.Cylinders</td>

                                            </tr>
                                            </tbody>
                                            </table>
                                            </div>
                                            break;

                                             case DieselEngine dieselEngine:
                                              <div class="table-wrapper">
                                             <table class="table">
                                             <tbody>
                                            <thead>
                                                <tr>
                                                   <th scope="col">Model</th>
                                                   <th scope="col">Brændstof</th>
                                                   <th scope="col">Kapacitet(L)</th>
                                                
                                                </tr>
                                            </thead>
                                            <tr>
                                              <td>@boat.Value.Engine.Name</td>
                                              <td>@boat.Value.Engine.FormattedFuelType</td>
                                              <td>@dieselEngine.TankCapacity</td>

                                         

                                            </tr>

                                             </tbody>
                                            </table>
                                            </div>
                                            break;

                                             case ElectricEngine electricEngine:
                                              <div class="table-wrapper">
                                             <table class="table">
                                             <tbody>
                                            <thead>
                                                <tr>
                                                   <th scope="col">Model</th>
                                                   <th scope="col">Brændstof</th>
                                                   <th scope="col">Kapacitet(kWh)</th>
                                                 
                                                </tr>
                                            </thead>
                                            <tr>
                                              <td>@boat.Value.Engine.Name</td>
                                              <td>@boat.Value.Engine.FormattedFuelType</td>
                                              <td>@electricEngine.BatteryCapacity</td>
                                            
                                             

                                            </tr>

                                               </tbody>
                                            </table>
                                            </div>
                                            break;
                                              }
                                            }

                                            else
                                            {
                                                       <p class="">Ingen motor på båden.</p>
 
                                            }

                            
                       
                           
                       </div>
                   </div>
                 
             </div>

           </div>
         
            boatCount++;

           
        }
   </div>

</div>

  </div>

      <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">

          
<h3>Tilføj ny båd</h3>


<form method="post">
    <!-- Boat Name -->
    <div class="form-group">
        <label asp-for="BoatName" class="control-label">Navn på båden</label>
        <input asp-for="BoatName" class="form-control" required />
        <span asp-validation-for="BoatName" class="text-danger"></span>
    </div>

    <!-- Boat Model -->
    <div class="form-group">
        <label asp-for="BoatModel" class="control-label">Model</label>
        <input asp-for="BoatModel" class="form-control" required />
        <span asp-validation-for="BoatModel" class="text-danger"></span>
    </div>

   <!-- Boat Type -->
<div class="form-group">
    <label for="BoatType" class="control-label">Båd type</label>
    <select asp-for="BoatType" class="form-control" required>
        <option value="0">-- Select Boat Type --</option>
        @foreach (var boatType in Enum.GetValues(typeof(BoatType)))
        {
            <option value="@boatType">@boatType</option>
        }
    </select>
    <span asp-validation-for="BoatType" class="text-danger"></span>
</div>

    <!-- Size -->
    <div class="form-group">
        <label asp-for="Size" class="control-label">Størrelse (meter fra spids til bagbord)</label>
        <input asp-for="Size" class="form-control" type="number" step="0.1" required />
        <span asp-validation-for="Size" class="text-danger"></span>
    </div>

    <!-- Year -->
    <div class="form-group">
        <label asp-for="Year" class="control-label">Fra årstal</label>
        <input asp-for="Year" class="form-control" type="number" min="1900" max="2100" required />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <!-- Sail Number -->
    <div class="form-group">
        <label asp-for="SailNumber" class="control-label">Sejlnummer</label>
        <input asp-for="SailNumber" class="form-control" required />
        <span asp-validation-for="SailNumber" class="text-danger"></span>
    </div>
        <!-- Engine Fields (Optional) -->
    <h3 class="pt-3">Indsæt eventuel motor</h3>
    <div class="form-group">
        <label asp-for="EngineName" class="control-label">Motor navn</label>
        <input asp-for="EngineName" class="form-control" />
        <span asp-validation-for="EngineName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="FuelType" class="control-label">Brændstof type</label>
        <select asp-for="FuelType" class="form-control" required>
            
            @foreach (FuelType fuelType in Enum.GetValues(typeof(FuelType)))
            {
                <option value="@fuelType">@fuelType</option>
            }
        </select>
        <span asp-validation-for="BoatType" class="text-danger"></span>
    </div>

   

    <div class="row boatrow pt-3">

    <div class="col-sm-4">
            <div class="card">
        <div class="card-body">
                <div class="form-group">
                    <h3>Benzin</h3>
                    <label for="TankCapacity" class="control-label">Tank kapacitet (L)</label>
                        <input type="number" asp-for="TankCapacity" class="form-control" />
                </div>
                    <div class="form-group">
                        <label for="CylinderCount" class="control-label">Antal cylindere</label>
                        <input type="number" asp-for="Cylinders" class="form-control" />
                    </div>
                </div>
               
        </div>
        
    </div>

        <div class="col-sm-4 ">
                <div class="card">
        <div class="card-body">
                <div class="form-group">
                    <h3>Diesel</h3>
                    <label for="DieselCapacity" class="control-label">Diesel kapacitet (L)</label>
                    <input type="number" asp-for="TankCapacity" class="form-control" />
                </div>
                    </div>
        </div>
    </div>

        <div class="col-sm-4">
                    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <h3>Elmotor</h3>
                <label for="BatteryPower" class="control-label">Batteri (kWh)</label>
                <input type="number" asp-for="BatteryCapacity" class="form-control" />
            </div>
      </div>
    </div>
    </div>

    </div>
    <button type="submit" class="btn btn-primary mt-3">Create Boat</button>

    </form>



  
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

      </div>

  <div class="tab-pane" id="simple-tabpanel-2" role="tabpanel" aria-labelledby="simple-tab-2">
      
@if (Model.Boats != null && Model.Boats.Any())
{
    <ul>
        @foreach (var boatItem in Model.Boats)
        {
            <li class="pt-3">
                ID: @boatItem.Value.Id<br />
                <strong>@boatItem.Value.Name</strong><br />
                @boatItem.Value.Model <br />
                Type: @boatItem.Value.BoatType <br />
                Årstal: @boatItem.Value.Year <br />
               
                <form method="post" asp-page-handler="DeleteBoat" asp-route-id="@boatItem.Value.Id">
                    <button type="submit" class="btn btn-danger mt-2">Fjern båd</button>
                </form>
            </li>
        }
    </ul>
}
  </div>
</div>

<!-- Display success or error messages at the center of the screen -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success centered-message">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger centered-message">
        @TempData["ErrorMessage"]
    </div>
}
